################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assessment2/.vs/Assessment2/v16/Server/sqlite3/db.lock
/Assessment2/Assessment2
